<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OTIBS - Chart of Accounts</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <%- include ( "side-bar" ); -%>  
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <%- include ( "top-navigation" ); -%>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Chart of Accounts</h1>
                    <div class="padded">
                        <div class="box-nav d-flex justify-between">
                          <a href="/add_trans" class="border-shadow">
                              <span class ="text-gradient"><img src="../svg/add-doc.svg" alt="file icon" class="icon2" width='25px' height='25px' text-decoration:"none"> Create New Account</span>
                          </a>
                      </div>
                      
                      </div>
                        
                      
                      <form action ="/" method="POST">
                      <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th><strong>CLASSIFICATION</strong></th>
                            <th><strong>ACCOUNT NAME</strong></th>
                            <th><strong>CODE</strong></th>   
                            <th><strong>MAPPING</strong></th>   
                            <th><strong>DESCRIPTION</strong></th>
                            <th><strong>NORMAL BALANCE</strong></th>
                            <th><strong>ACTION</strong></th>
                        </tr>
                        <tr>
                            <th><strong></strong></th>
                            <th><strong></strong></th>
                            <th><strong></strong></th>  
                            <th><strong></strong></th>  
                            <th>
                                <td></td>
                                <td></td>
                            </th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= data.classification %></td>
                                <td>Cash in Bank - Operating</td>
                                <td>10101</td>
                                <td>Cash & Cash Equivalent</td>
                                <td>aaaa</td>
                                <td>DEBIT</td>
                            </tr>
                            <tr>
                                <td>Asset</td>
                                <td>Cash in Bank - Investment</td>
                                <td>10102</td>
                                <td>Cash & Cash Equivalent</td>
                                <td>aaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Asset</td>
                                <td>Cash on Hand - Local Currency</td>
                                <td>10103</td>
                                <td>Cash & Cash Equivalent</td>
                                <td>aaaa</td>
                                <td>DEBIT</td>
                            </tr>
                            <tr>
                                <td>Asset</td>
                                <td>Cash on Hand - Foreign Currency</td>
                                <td>10104</td>
                                <td>Cash & Cash Equivalent</td>
                                <td>aaaa</td>
                                <td>DEBIT</td>
                            </tr>
                            <tr>
                                <td>Liability</td>
                                <td>Accounts Payable - Trade</td>
                                <td>20101</td>
                                <td>Accounts Payable</td>
                                <td>aaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Liability</td>
                                <td>Accounts Payable - Non Trade</td>
                                <td>20102</td>
                                <td>Accounts Payable</td>
                                <td>aaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Liability</td>
                                <td>Accounts Payable - Related Parties</td>
                                <td>20103</td>
                                <td>Accounts Payable</td>
                                <td>aaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Equity</td>
                                <td>Ordinary Share Capital</td>
                                <td>30102</td>
                                <td>Subscribed Ordinary Share</td>
                                <td>aaaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Income</td>
                                <td>Interest Income</td>
                                <td>40201</td>
                                <td>Interest Income</td>
                                <td>aaaaaa</td>
                                <td>DEBIT</td>
                            </tr>
                            <tr>
                                <td>Expense</td>
                                <td>Marketing Expense</td>
                                <td>50209</td>
                                <td>Sales & Marketing</td>
                                <td>aaaaaa</td>
                                <td>CREDIT</td>
                            </tr>
                            <tr>
                                <td>Expense</td>
                                <td>Insurance Expense</td>
                                <td>50209</td>
                                <td>Insurance</td>
                                <td>aaaaaa</td>
                                <td>CREDIT</td>
                                
                            </tr>

                            
                        </tbody>
                      </table>
                      </form>
                      </main>
                      
                      </br>
                      </br>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
