<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OTIBS - Trial Balance</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <%- include ( "side-bar" ); -%>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <%- include ( "top-navigation" ); -%>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">General Ledger</h1>
                      <form action ="/" method="POST">
                      <table class="table">
                        <thead class="thead-dark">
                           <center>DEBIT</center>
                        <tr>
                           <th><strong>DATE</strong></th>
                           <th><strong>ACCOUNT NAME</strong></th>
                           <th><strong>DESCRIPTION</strong></th>
                           <th><strong>DEBIT</strong></th>
                           <th><strong>CREDIT</strong></th>   
                           <th><strong>AMOUNT DEBITED PER ACCOUNT NAME</strong></th>
                           <th><strong>TOTAL BALANCE OF DEBIT</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total: 0</td>
                                <td>Total: 0</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                      </table>

                      <table class="table">
                        <thead class="thead-dark">
                           <center>CREDIT</center>
                        <tr>
                           <th><strong>DATE</strong></th>
                           <th><strong>ACCOUNT NAME</strong></th>
                           <th><strong>DESCRIPTION</strong></th>
                           <th><strong>DEBIT</strong></th>
                           <th><strong>CREDIT</strong></th>   
                           <th><strong>AMOUNT CREDITED PER ACCOUNT NAME</strong></th>
                           <th><strong>TOTAL BALANCE OF CREDIT</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total: 0</td>
                                <td>Total: 0</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                      </table>

                      </form>
                      </main>
                      
                      </br>
                      </br>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
